@import "tailwindcss";
@plugin "@iconify/tailwind4";
@plugin "flyonui" {
  themes:
    light --default,
    dark --prefersdark;
}

html {
  font-size: 16px;
}

* {
  scrollbar-width: none;
}

.debug * { outline: 1px solid red !important; }